*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.right-col{
  float: right;
  margin-right: 6%;
  display: flex;
  align-items: center;  
}
  
.right-col{
    font-size: 14px;
    font-weight: 400;

}
#icon{
    width: 50px;
    cursor: pointer;
}